<web-app>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>com.vgoryashko.servlet.echoservlet.EchoServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthChecker</filter-name>
        <filter-class>com.vgoryashko.servlet.crudservlet.AuthChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthChecker</filter-name>
        <url-pattern>/ustorage/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Users View Servlet</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.UsersView</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users View Servlet</servlet-name>
        <url-pattern>/ustorage/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.CreateUser</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/ustorage/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.DeleteUser</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/ustorage/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.UpdateUser</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/ustorage/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.GetUser</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/ustorage/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sign in Controller</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.SignIn</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign in Controller</servlet-name>
        <url-pattern>/ustorage/sign</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.Logout</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/ustorage/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Countries</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.GetCountries</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Countries</servlet-name>
        <url-pattern>/ustorage/getcountries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cities</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.GetCities</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cities</servlet-name>
        <url-pattern>/ustorage/getcities</url-pattern>
    </servlet-mapping>

</web-app>