<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfig"
               packages="">

    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %class{36} %t %L %M - %msg%xEx}%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="com.vgoryashko.servlet" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.servlet.echoservlet.EchoServlet" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.servlet.crudservlet.UserStore" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.dao.DAOManager" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.dao.SQLUserDAO" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.MainViewController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.LoginController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.LogoutController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.GetEntitiesController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.DeleteController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.UpdateController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.GetUserAllController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Logger name="com.vgoryashko.testexercise.controllers.AddUserController" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>