<web-app>

    <filter>
        <filter-name>AuthChecker</filter-name>
        <filter-class>com.vgoryashko.testexercise.controllers.AuthChecker</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthChecker</filter-name>
        <url-pattern>/testexercise/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.LoginController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/testexercise/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainViewController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.MainViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainViewController</servlet-name>
        <url-pattern>/testexercise/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/testexercise/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.ShowController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowController</servlet-name>
        <url-pattern>/testexercise/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.CreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/testexercise/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/testexercise/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetRoleController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.GetRolesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRoleController</servlet-name>
        <url-pattern>/testexercise/roles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/testexercise/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetEntityController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.GetEntityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEntityController</servlet-name>
        <url-pattern>/testexercise/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomUserSearchController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.UserSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomUserSearchController</servlet-name>
        <url-pattern>/testexercise/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUserAllController</servlet-name>
        <servlet-class>com.vgoryashko.testexercise.controllers.GetUserAllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserAllController</servlet-name>
        <url-pattern>/testexercise/userall</url-pattern>
    </servlet-mapping>

</web-app>