<web-app>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>com.vgoryashko.servlet.echoservlet.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.vgoryashko.servlet.crudservlet.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/usersstorage</url-pattern>
    </servlet-mapping>

</web-app>